# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
*.env

# PyTorch artifacts
*.pt
*.pth
*.h5

# Dataset artifacts
*.csv
*.npy

# Python cache
*.pyo
*.pyd
*.pdb

# Logs and outputs
*.log
*.out
*.bak
*.tmp

# VSCode
.vscode/

# MacOS and system files
.DS_Store
Thumbs.db

# Other IDEs
.idea/
*.iml
